body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header */
.topbar{
}
/* логотип */
.topbar_logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #2e2f42;
}
.topbar_logo:hover,
.topbar_logo:active {
  color: #2e2f42;
}
.start_logo {
  color: #4d5ae5;
}
.start_logo:hover,
.start_logo:active {
  color: #4d5ae5;
}
/* Посілання навігацій */
.nav_list a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
}

.nav_list a:hover,
.nav_list a:active {
  color: #404bbf;
}
/* контакти в хедер  */

.contacts a {
  font-size: 16px;
  line-height: 24px;
  color:#434455;
}
.contacts a:hover {
  color: #404bbf;
}

/* секція з гаслом та кнопкою замовлення */
.section_call {
  height: 600px;
  background-color: #2e2f42;
} 
.call_text {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
}
.call_button {
 font-size: 16px;
 font-weight: 500;
 line-height: 24px;
 color: #ffffff;
 background-color: #4d5ae5;
 border-radius: 8px;
 padding: 16px 32px;
 border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.call_button:hover {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* секція cthdscw (h3+p*4) */
.section_services {
  height: 344px;
  
}
.section_services h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.service_item {
  width: 264px;
}
.section_services p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  height: 72px;
}
/* секція (фото учасників команди) */
.section_team {
  height: 732px;
  top: 1016px;
  background-color: #f4f4fd;
}
.section_team h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section_team p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/* секція портфоліо  */
.sectoin_portfolio {
  height: 1240px;
}
.section_portfolio h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section_portfolio p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/* Footer */
.footer {
  height: 312px;
  background-color: #2e2f42;
}
.footer_logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #F4F4FD;
}
.footer p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}
