body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background-color: white;
  width: 1440px;
  height: 3300px;
  top: -1169px;
  left: 370px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header */

.topbar_logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #2e2f42;
}
.topbar_logo:hover,
.topbar_logo:active {
  color: #2e2f42;
}
.start_logo {
  color: #4d5ae5;
}
.start_logo:hover,
.start_logo:active {
  color: #4d5ae5;
}
.nav_list li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42; /* Нормальный цвет */
}

/* Наведение и нажатие на пункт */
.nav_list li:hover,
.nav_list li:active {
  color: #404bbf;
}

.contacts li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #434455;
}
